<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="table-responsive pt-3">
                  <table class="table table-striped project-orders-table">
                    <thead>
                      <tr>
                        <th class="ml-5">ID</th>
                        <th>category name</th>
                        <th>product name</th>
                        <th>Decription</th>
                        <th>Price	</th>
                        <th>Image</th>

                      </tr>
                    </thead>
                    <tbody>
                    {% for j in product %}
                      <tr>
                        <td>{{j.id}}</td>
                        <td>{{j.cat_name}}</td>
                        <td>{{j.product_name}}</td>
                        <td>{{j.Description}}</td>
                        <td>{{j.price}}</td>
                        <td>
                            <img src="{{j.product_image.url}}">
                        </td>
                        <td>
                          <div class="d-flex align-items-center">
                            <form action="{% url 'edit_products' pro_id=j.id %}">
                            <button type="submit" class="btn btn-success btn-sm btn-icon-text mr-3">
                              Edit
                              <i class="typcn typcn-edit btn-icon-append"></i>
                            </button></form>
                            <button type="button" class="btn btn-danger btn-sm btn-icon-text">
                              Delete
                              <i class="typcn typcn-delete-outline btn-icon-append"></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
</body>
</html>
{% endblock %}